/*
   Copyright 2003 Jonathan Gallimore

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/

#include "resource.h"

ABOUTDLG DIALOG DISCARDABLE 0,0,115,100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Server"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON    "&Ok", ID_OK, 5,82,50,14
    CTEXT            "Please select the login server:", IDC_STATIC, 5,5,105,14
    LISTBOX          ID_LIST, 5, 20, 105, 70, LBS_STANDARD | WS_VSCROLL | WS_BORDER | LBS_NOTIFY | LBS_SORT
END

